body {
    text-align: center;
    background: #24d6bf;
}
col-md-offset-2 col-md-10 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button {
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 10%;
}